<!--<h1>{{ staticData.mainPage.title }}</h1>
<h3>{{ staticData.mainPage.subtitle }}</h3>
<ul>
    <li ng-repeat="record in staticData.mainPage.menu"><i class="fa {{ record.awesomeIcon }}"></i>{{ record.title }}</li>
</ul>-->
<div class="promo-block line-b_">
    <div class="content-inner">
        <div class="desc">
            <h3>{{ staticData.mainPage.title }}</h3>
            <p>{{ staticData.mainPage.subtitle }}</p>
            <ul class="promo-menu">
                <li ng-repeat="item in staticData.mainPage.menu">
                    <a href="" class="box-l">
                        <div class="blue-box"><i class="fa {{ item.awesomeIcon }}"></i></div>
                    </a>
                    <a href="">{{ item.title }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="three-apps-block line-b_">
    <div class="content-inner">
        <a ng-repeat="app in applications | limitTo:3 | filter:{forMainPage: true}" href="/app/{{ app.id }}" class="app-item">
            <div class="left_">
                <img ng-src="{{ app.realUri }}">
            </div>
            <div class="right_">
                <p class="name">{{ app.title }}</p>
                <p class="genre">{{ app.genre }}
                    <i ng-show="{{ app.isWinPhone }}" class="fa fa-windows"></i>
                    <i ng-show="{{ app.isAndroid }}" class="fa fa-android"></i>
                    <i ng-show="{{ app.isIOS }}" class="fa fa-apple"></i>
                </p>
                <p class="description">{{ app.description | limitTo: 100 }}</p>
            </div>
        </a>
    </div>
</div>
